services:
  tesseract:
    build:
      context: ./tesseract
    ports:
      - 3000:3000
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    ports:
      - 3001:3001
    networks:
      - app-network

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ./ollama:/root/.ollama

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD:
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
      timeout: 5s
      retries: 10

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

networks:
  app-network:
    driver: bridge
