services:
  tesseract:
    build:
      context: ./tesseract
    ports:
      - 3000:3000
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    ports:
      - 3001:3001
    networks:
      - app-network

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ./ollama:/root/.ollama
    networks:
      - app-network

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      POSTGRES_DB:
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d db -U user@gmail.com "]
      interval: 1s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    networks:
      - app-network

  api:
    build:
      context: ./api
    command: ["npm run knex:migrate && npm start"]
    environment:
      DATABASE_HOST: db
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      POSTGRES_DB:
    ports:
      - "${API_PORT}:${API_PORT}"
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy

networks:
  app-network:
    driver: bridge
