services:
  tesseract:
    build:
      context: ./tesseract
    ports:
      - 3000:3000
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    ports:
      - 3001:3001
    networks:
      - app-network

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ./ollama:/root/.ollama

networks:
  app-network:
    driver: bridge
